# Cargar los nuevo datos y generara Clusters

In [39]:

import pandas as pd
import joblib
import json

# Cargar modelos entrenados
scaler = joblib.load("../notebooks/scaler_clust.pkl")
pca = joblib.load("../notebooks/pca_clust.pkl")
kmeans = joblib.load("../notebooks/kmeans_clust.pkl")

# Cargar columnas originales del entrenamiento
with open("../notebooks/columns_clust.json") as f:
    cols_info = json.load(f)

expected_cols = cols_info["columns"]

print("Modelos de clustering cargados correctamente.")

Modelos de clustering cargados correctamente.

In [40]:
df_new.head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
0,1.237680e+18,13.161838,20.329558,23.96359,24.41554,21.92542,20.89438,19.96155,7923,301,5,264,8.578456e+18,0.762486,7619,56900,817
1,1.237662e+18,200.572696,38.674799,21.25550,21.08849,20.97834,20.77301,20.56856,3900,301,3,456,9.958701e+18,0.766414,8845,58159,423
2,1.237661e+18,115.257132,19.503271,23.27590,23.05990,21.89798,21.26267,21.73729,3605,301,4,33,1.008255e+19,0.673666,8955,57451,405
3,1.237679e+18,36.043670,1.002345,22.03466,21.07686,19.31867,18.60666,18.23209,7717,301,1,570,7.927595e+17,0.366534,704,52205,458
4,1.237664e+18,5.225188,-1.173447,21.22157,19.41812,18.02884,17.51454,17.16425,4263,301,1,150,4.750238e+18,0.208840,4219,55480,242

In [41]:
# 1. Mantener solo columnas esperadas
df_proc = df_new[expected_cols].copy()

# 2. Escalar con el scaler entrenado
X_scaled = scaler.transform(df_proc)

# 3. PCA con el PCA entrenado
X_pca = pca.transform(X_scaled)

In [42]:
# 4. Obtener clusters
clusters_new = kmeans.predict(X_pca)

# 5. Construir un DataFrame SOLO con las columnas usadas por el modelo
df_result = df_proc.copy()          # df_proc = df_new[expected_cols]
df_result["cluster"] = clusters_new

print(df_result.columns)

df_result.to_csv("kmeans_clusters_production_clean.csv", index=False)

print("Clusters generados y archivo limpio guardado.")

Index(['u', 'g', 'r', 'i', 'z', 'cluster'], dtype='object')
Clusters generados y archivo limpio guardado.